# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Logs and temporary files
*.log
logs/
.cache/
instance/
*.db
*.sqlite3

# Sensitive files
.env
key.py
config.py
.venv

# IDE/Editor Specific
.vscode/
.idea/
*.swp
*.swo

# Docker-specific
*.dockerignore

models/
datasets/

reco_pkl.py