<!DOCTYPE html>
<html lang="en">

<head>
  <title>dataset_info.html</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="\static\style.css">

  <style>
    .box {
      text-transform: uppercase;
      color: #0000;
      font-family: sans-serif;
      font-size: 50px;
      font-weight: bolder;
      background:
        repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px 2500px,
        repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 50%/2500px 2500px;
      background-blend-mode: difference;
      mix-blend-mode: lighten;
      -webkit-background-clip: text;
      background-clip: text;
    }

    html {
      background: #fff;
    }
  </style>
</head>

<body>

  <!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-gray w3-card w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
        href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
      <a href="/dataset_info" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">ABOUT
        DATASET</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 2</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 3</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Link 4</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
    </div>
  </div>

  <!-- Header -->
  <header class="w3-container w3-center"
    style="padding:128px 16px; background: linear-gradient(to right, #8a1d1d, #eeacac);">
    <div class="box">
      <h1 class="w3-margin w3-jumbo box">EXPLORATORY DATA ANALYSIS</h1>
    </div>
    <h6 style="font-family: Fantasy;">Exploratory Data Analysis (EDA) is the process of analyzing datasets to summarize
      their main characteristics, often using visualizations and statistical techniques. It helps identify patterns,
      trends, and anomalies to gain insights before applying machine learning models.</h6>
  </header>

  <!-- First Grid -->
  <div class="w3-padding-small  w3-container">
    <div class="w3-content">
      <h2> NA Values in Datasets</h2>
      {% for name, na_table in na_values.items() %}
      <h3>{{ name }} Dataset</h3>
      {{ na_table | safe }}
      {% endfor %}
    </div>
  </div>

  <!-- Second Grid -->
  <div class="w3-padding-small w3-light-grey w3-container">
    <div class="w3-content">
      <h2>Dropping and Formatting Columns</h2>
      <ol>
      <li>Dropping The Timestamp column from Ratings.csv as it is not important</li>
      <img src="\static\images\timestamp_column.png"><br><br>
      <li>Formatting "title" column in movies.csv to remove the year from each movie and storing it in a seperate column:<br>
        Before: <img src="\static\images\year_before.png"><br> <br>
        After: <img src="\static\images\year_after.png">
      </li>
      </ol>
    </div>
  </div>

  <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <a href="/eda">
      <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Exploratory Data Analysis</button>
    </a>
  </div>


  <script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else {
        x.className = x.className.replace(" w3-show", "");
      }
    }
  </script>

</body>

</html>